# Python
__pycache__/
*.py[cod]
.venv/
.env
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# VS Code / OS
.vscode/
.DS_Store

# Data & artifacts
data/
*.duckdb
*.db
*.sqlite
logs/
reports/plots/
artifacts/

# Build
dist/
build/
